*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 300;
  background-color: #f8f6f1;
  color: #555550;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px 30px;
  background-color: white;
}

h1 {
  margin: 0;
  line-height: 2em;
  font-size: 40px;
  color: #d96;
}

.todos {
  padding-left: 0;
  list-style: none;
  line-height: 1.1em;
  margin: 0;
}

.todos li {
  border-left: 6px double #ddd;
  margin: 8px 0;
  padding-left: 10px;
}

input#todo {
  font-size: 1.25em;
  padding: 7px 10px;
  width: 100%;
}

input#todo:focus {
  outline: none;
  border-color: #d96;
}

.actions {
  margin-top: 2em;
}

input, button, .btn {
  font-family: inherit;
  font-size: 1em;
  font-weight: 300;
  padding: 3px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  background-color: white;
  color: #666;
  text-decoration: none;
}

button {
  cursor: pointer;
}
